@font-face {
  font-family: 'Farro';
  src: local('Farro'), url(./fonts/Farro/Farro-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Farro-Bold';
  src: local('Farro-Bold'), url(./fonts/Farro/Farro-Bold.ttf) format('truetype');
}


@font-face {
  font-family: 'Lobster';
  src: url(./fonts/Lobster/Lobster-Regular.ttf) format('truetype');
}

:root {
  --my-red: #E63746;
  --my-black: #3E3C3C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Farro', monospace;
  font-size: 20px;
}

.header-container {
  background-color: var(--my-black);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  padding: 5px 50px;
}

.logo-icon {
  height: 5rem;
  text-shadow: 2px 2px 4px black;
  filter: drop-shadow(1px 1px 4px black);
}

.title-container {
  font-family: 'Lobster', monospace;
  font-size: 48px;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px black;
}

.login-btn-container {
  text-align: right;
  color: white;
}