@font-face {
  font-family: 'Farro';
  src: local('Farro'), url(./fonts/Farro/Farro-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Farro-Bold';
  src: local('Farro-Bold'), url(./fonts/Farro/Farro-Bold.ttf) format('truetype');
}


@font-face {
  font-family: 'Lobster';
  src: url(./fonts/Lobster/Lobster-Regular.ttf) format('truetype');
}

:root {
  --my-red: #E63746;
  --my-black: #3E3C3C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
  font-family: 'Farro', monospace;
}

/* Header */

.header-container {
  background-color: var(--my-black);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  padding: 5px 50px;
}

.logo-icon {
  height: 4rem;
  text-shadow: 2px 2px 4px black;
  filter: drop-shadow(1px 1px 4px black);
}

.title-container {
  font-family: 'Lobster', monospace;
  font-size: 48px;
  text-align: center;
  text-shadow: 2px 2px 4px black;
}

.login-btn-container {
  color: white;
  font-size: 1rem;
  justify-self: right;
  width: fit-content;
}

.logo-icon:hover,
.title-container:hover {
  cursor: pointer;
}

.login-btn:hover {
  cursor: pointer;
  font-size: 1.01rem;
  text-shadow: 2px 2px 4px black;
}

/* Search form */

.search-form-container {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
}

.search-form-grid {
  width: fit-content;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form-text {
  border: none;
  padding: 15px;
  font-size: 1rem;
  font-family: inherit;
  width: 35vw;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.search-form-text:focus {
  outline: none;
}

.search-form-button {
  border: none;
  color: white;
  background-color: var(--my-red);
  padding: 15px;
  font-size: 1rem;
  font-family: inherit;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.search-form-button:hover {
  cursor: pointer;
}

.favourite-icon {
  height: 1.8rem;
  margin-top: 5px;
}

.favourite-icon:hover {
  cursor: pointer;
}

/* Recipe list */

.recipes-list-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recipe {
  width: 87.5vw;
  margin-bottom: 20px;
  background-color: white;
  filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.2));
}

.recipe:hover {
  cursor: pointer;
}

.recipe-template {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 20px 0px;
}

.recipe-picture {
  align-items: center;
  justify-self: center;
}

.recipe-picture-circle {
  overflow: hidden;
  display: inline-block;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  vertical-align: middle;
  filter: drop-shadow(2px 2px 4px black);
}

.recipe-picture-circle img {
  width: 8rem;
  object-fit: cover;
}

.recipe-name-and-desc-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.recipe-title {
  font-family: "Farro-Bold", monospace;
  font-size: 2rem;
}

.recipe-short-summary {
  display: flex;
  justify-content: space-between;
}

.recipe-diff-and-full-time-container {
  margin-left: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.recipe-diff {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.recipe-diff span {
  margin-right: 15px;
}

.recipe-diff-icon img {
  width: 1.25rem;
}

.recipe-full-time {
  font-size: 0.9rem;
}

.summary-list>* {
  margin-right: 1vw;
}

.icon {
  width: 1.2rem;
}

.recipe-set-favourite {
  margin-right: 10px;
  align-items: flex-start;
}

.recipe-set-favourite-icon {
  width: 2rem;
}