@font-face {
  font-family: 'Farro';
  src: local('Farro'), url(./fonts/Farro/Farro-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Farro-Bold';
  src: local('Farro-Bold'), url(./fonts/Farro/Farro-Bold.ttf) format('truetype');
}


@font-face {
  font-family: 'Lobster';
  src: url(./fonts/Lobster/Lobster-Regular.ttf) format('truetype');
}

:root {
  --my-red: #E63746;
  --my-black: #3E3C3C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
  font-family: 'Farro', monospace;
}

/* Header */

.header-container {
  background-color: var(--my-black);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  padding: 5px 50px;
}

.logo-icon {
  height: 4rem;
  text-shadow: 2px 2px 4px black;
  filter: drop-shadow(1px 1px 4px black);
}

.title-container {
  font-family: 'Lobster', monospace;
  font-size: 48px;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 4px black;
}

.login-btn-container {
  color: white;
  font-size: 1rem;
  justify-self: right;
  width: fit-content;
}

.logo-icon:hover,
.title-container:hover {
  cursor: pointer;
}

.login-btn:hover {
  cursor: pointer;
  font-size: 1.01rem;
  text-shadow: 2px 2px 4px black;
}

/* Search form */

.search-form-container {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
}

.search-form-grid {
  width: fit-content;
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form-text {
  border: none;
  padding: 15px;
  font-size: 1rem;
  font-family: inherit;
  width: 35vw;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.search-form-text:focus {
  outline: none;
}

.search-form-button {
  border: none;
  color: white;
  background-color: var(--my-red);
  padding: 15px;
  font-size: 1rem;
  font-family: inherit;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.search-form-button:hover {
  cursor: pointer;
}


.favourite-icon {
  height: 1.5rem;
}

.favourite-icon:hover {
  cursor: pointer;
}